* {
    font-family: "Raleway", sans-serif;
    margin: 0%;
    padding: 0;
}

input[type="submit"] {
    border: 0;
    padding: 2px 16px;
    color: #fff;
    background-color: #000000b0;
}

ul.navbar-footer {
    list-style-type: none;
    display: flex;
    color: #fff !important;
}

ul.navbar-footer a {
    font-size: 13px;
    color: #fff !important;
    margin-right: 20px;
}

.follow-me {
    position: relative;
    margin-top: 60px;
}

.author {
    text-align: center;
}

.author p {
    margin-bottom: 0;
    margin-top: 6px;
}

.author p:nth-child(3) {
    font-size: 13px;
    color: #999;
}

.author img {
    border-radius: 50%;
}

.recipe-thumb {
    margin-top: 21px;
}

h2.recipe-title {
    font-size: 20px;
}

h2.recipe-title a {
    color: #fff !important;
}

.recipe-desc {
    color: #fff;
    background-color: #232323;
    padding: 20px;
}

.recipe-desc p {
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
    border-top: 2px solid #333;
    padding: 12px 0;
}

.recipe-desc span {
    font-size: 10px;
}

.section-caption p {
    width: 80%;
    margin: auto;
}

.fitcon i {
    font-size: 41px;
}

li.nav-item {
    margin-right: 19px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    margin-right: 8px;
}

.carousel-bg {
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-menu li {
    padding-left: 15px;
}

li.nav-item .nav-link, li.nav-item.active .nav-link {
    color: #676867 !important;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    font-weight: 600;
}

li.nav-item:hover .nav-link, li.nav-item.active .nav-link {
    color: red !important;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    background: #040405;
}

.dropdown-item {
    display: block;
    color: white;
    text-align: inherit;
}

.social-navigation .social .social-menu {
    display: flex;
    list-style: none;
    padding: 3px 2px 3px 2px;
    margin-bottom: 0;
}

.social-navigation .social .social-menu a {
    color: #676867;
}

.social-navigation .social .social-menu a:hover {
    color: #e33d26;
}

.carousel-bg h2 {
    text-align: center;
    font-family: "Yellowtail", cursive;
    font-weight: normal;
    color: white;
    font-size: 4.5em;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.read-more {
    background: red;
    color: white !important;
    padding: 8px 15px;
    font-size: 14px;
}

.read-more:hover {
    color: #fff !important;
    background-color: #c92f1a;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a.bookmarker {
    position: absolute;
    top: 8%;
    right: 10%;
    display: block;
    color: #fff !important;
    background-color: #e33d26;
    padding: 4px 10px;
    border-radius: 50%;
}

a.bookmark:hover {
    background-color: #333;
}

.editor-choice {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.features-section {
    height: 500px;
    margin-top: 100px;
    margin-bottom: 60px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../images/features-bg-potrait.jpg);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.caption-feature {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.view-recipe {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    color: black!important;
}

.btn {
    border: 1px solid #333;
    border-radius: 0;
    padding: 6px 26px;
    margin-bottom: 60px;
    font-size: 14px;
}

.btn.btn-line:hover {
    background-color: #333;
    color: #fff !important;
}

a.btn.btn-line {
    color: #000 !important;
}

.editor-title {
    text-align: center;
    margin-bottom: 60px;
}

.taplak-editor {
    background: #eaeae8;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.upcoming-event {
    height: 400px;
    text-align: center;
    margin-top: 80px;
    background-image: url(../images/event-cooking.jpg);
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info {
    margin-top: 20px;
    text-align: center;
    color: black!important;
}

.info {
    border: 1px solid#e33d26;
    padding: 10px 30px;
    margin-bottom: 60px;
    background: #e33d26;
    color: white !important;
}

.blog-title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.blog-caption {
    color: #000 !important;
    border-bottom: 1px solid transparent;
    font-size: small;
}

.lorem {
    font-size: 18px;
    color: black!important;
}

.ig-bth {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.ig-bth .follow-ig {
    padding: 15px 20px;
    background-color: rgba(227, 61, 38, 0.9);
    color: #fff !important;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.ig-bth .follow-ig:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.img-social {
    background: #E6E7E3;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.img-social a {
    color: #999999!important;
    font-size: 11px;
    margin-right: 33px;
}

.img-social a:hover {
    color: #e6513d !important;
}

footer {
    text-align: center;
    background: url(../images/pattern-bg.png);
    color: white;
    padding: 50px 40px;
}

.navbar {width: 100%;}

.main-caption {
    background: hsl(10deg 78% 45% / 72%)!important;
    color: white;
    left: 60px;
    top: 60px;
    padding: 20px 15px;
    text-align: center;
    transition: .4s;
}

.main-caption:hover {
    background: hsl(10deg 78% 45%)!important;
}

a.main-caption.rounded-circle {
    color: #fff !important;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a {}

a {
    color: #e6513d !important;
}

.blog-caption .post-meta {
    color: #000 !important;
}

.post-meta {
    display: flex;
    justify-content: space-between;
}

.post-meta {
    display: flex;
    border-bottom: 1px solid #e4e0de;
}

.cat {
    font-size: 14.5px;
    color: #cc3719;
    text-transform: uppercase;
}

.lorem {
    color: #333333;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
}
